/* Improve mobile responsiveness */
body {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

@media (max-width: 600px) {
    body {
        padding: 1em;
    }
    
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.2em;
    }
}
